@charset "UTF-8";
*{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
html,body,div,h1,h2,h3,h4,h5,h6,ul,li,ol,li,p,form,input,textarea,table,th,td,menu,button{
    margin:0;
    padding:0;
}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{
    display:block;
}
table{
    border-spacing:0;
    border-collapse:collapse;
}
caption,th{
    text-align:center;
    font-weight:400;
}
html,body,fieldset,img,iframe,abbr{
    border:0;
}
i,cite,em,var,address,dfn{
    font-style:normal;
}
li{
    list-style:none;
}
img{
    vertical-align:bottom;
}
h1,h2,h3,h4,h5,h6,small{
    font-size:100%;
}
sub,sup{
    font-size:83%;
}
textarea{
    overflow:hidden;
    resize:none;
}
a,button{
    cursor:pointer;
}
h1,h2,h3,h4,h5,h6,em,strong,b{
    font-weight:700;
}
a,a:hover,a:visited,a:active{
    text-decoration:none;
}
html,
body {
    font-family:Hiragino Sans GB,STHeiti,Microsoft Yahei,sans-serif;
    width: 100%;
    /*height: 100%;*/
    min-width: 1280px;
    background-color: #e5e5e5;
}
.clearfix{
    zoom:1;
}
.clearfix:after{
    content:"\200B";
    height:0;
    display:block;
    clear:both;
    visibility:hidden;
}
.wrap {
    width: 100%;
    /*min-height: 100%;*/
    min-width: 1280px;
    /*height: 100%;*/
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* 登录 */
.login-box{
    width: 1280px;
    height: 768px;
    margin: 0 auto;
    position: relative;
    background: url("/images/login-bg.jpg") no-repeat center 0;
}
.login-main{
    position: absolute;
    top: 205px;
    left: 705px;
    width: 457px;
    height: 389px;
    padding-left: 62px;
    padding-top: 83px;
    background: url("/images/login-b.png") no-repeat;
}
.login-main .login-title{
    font-size: 27px;
    color: #040404;
}
.login-main .login-input{
    margin-top: 30px;
}
.login-main .form-group{
    width: 389px;
}
.login-main .field-login-form-login{
    background: url("/images/user.png") no-repeat;
    height: 70px;
}
.login-main .field-login-form-password{
    background: url("/images/pswd.png") no-repeat;
    height: 70px;
    margin-bottom: 5px;
}

.login-main .field-login-form-rememberme label{
    font-size: 18px;
    color: #878787;
    font-weight: 400;
}
.login-main .form-control{
    border: 0;
    width: 321px;
    height: 44px;
    line-height: 44px;
    padding: 0 12px 0 12px;
    background: transparent;
    margin-left: 44px;
}
.login-main .help-block{
    margin-left: 56px;
}
.login-main .form-group .btn-primary{
    font-size: 22px;
    color: #fff;
    padding: 6px 0;
    width: 389px;
}

/* 结构 */
.benzContainer{
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    /*_text-align: center;*/
}
/* 顶条 */
.top-bar{
    width: 100%;
    height: 72px;
    background: url("/images/top-bg.png") no-repeat;
    position: relative;
}
.username{
    position: absolute;
    right: 50px;
    top: 27px;
    padding-left: 28px;
    background: url("/images/user-icon.png") no-repeat 0 center;
    _background: url("/images/_user-icon.png") no-repeat 0 center;
}
.username .name,.username .logout{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.username a:hover{
    color: #fff;
}
.username span{
    font-size: 16px;
    color: #88aed6;
    margin: 0 12px;
}
.username .logout{
    text-decoration: underline;
}

.left-nav,.right-main{
    position: absolute;
}
/* 左导航 */
.left-nav{
    position:absolute;
    top:72px;
    bottom:0;
    width:182px;
    /*height:100%;*/
    height: 777px;
    min-height: 730px;
    left: 0;
    background-color: #40434a;
}
.left-nav li{
    /*height: 60px;*/
    /*text-align: center;*/
}
.left-nav li a{
    display: block;
    height: 60px;
    line-height: 60px;
    color: #fff;
    /*text-align: center;*/
    padding-left: 70px;
    text-decoration: none;
    border-bottom: 1px solid #545960;
    background-color: #40434a;
    background-repeat: no-repeat;
    background-position: 35px center;
}
.left-nav li a:hover{
    color: #fff;
    background-color: #545960;
}
.left-nav li a.icon-wl{
    background-image: url("/images/icon-wl.png");
    background-repeat: no-repeat;
    background-position: 35px center;
    _background-image: url("/images/_icon-wl.png");
}
.left-nav li a.icon-3c{
    background-image: url("/images/icon-3c.png");
    background-repeat: no-repeat;
    background-position: 35px center;
    _background-image: url("/images/_icon-3c.png");
}
.left-nav li a.icon-yy{
    background-image: url("/images/icon-yy.png");
    background-repeat: no-repeat;
    background-position: 35px center;
    _background-image: url("/images/_icon-yy.png");
}
.left-nav li a.icon-zh{
    background-image: url("/images/icon-zh.png");
    background-repeat: no-repeat;
    background-position: 35px center;
    _background-image: url("/images/_icon-zh.png");
}
.left-nav li.active a{
    background-color: #373a41;
}
.left-nav li.active span{
    display: block;
    height: 60px;
    background: url("/images/icon-jt.png") no-repeat right center;
    _background: url("/images/_icon-jt.png") no-repeat right center;
}
/* 右主体 */
.right-main{
    position:absolute;
    top:72px;
    bottom:0;
    width:1098px;
    /*height:100%;*/
    height: 777px;
    min-height: 698px;
    right: 0;
    background-color: #e5e5e5;
}

/* 物流信息 */
.shipment-top,.shipment-list{
    width: 790px;
    margin: 0 auto;
    padding-top: 23px;
}
/* 按钮 */
.shipment-top .btn-download,.shipment-top .btn-upload,.shipment-top .btn-search{
    display: inline;
    float: left;
    width: 114px;
    height: 44px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
}
.shipment-top .btn-download{
    color: #033984;
    background: url("/images/btn-download.png") no-repeat;
    _background: url("/images/_btn-download.png") no-repeat;
}
.shipment-top .btn-download:active{
    background: url("/images/btn-download-active.png") no-repeat;
    _background: url("/images/_btn-download-active.png") no-repeat;
}
.shipment-top .btn-download:hover{
    background: url("/images/btn-download-hover.png") no-repeat;
    _background: url("/images/_btn-download-hover.png") no-repeat;
}
.shipment-top .btn-upload{
    color: #fff;
    background: url("/images/btn-upload.png") no-repeat;
    _background: url("/images/_btn-upload.png") no-repeat;
}
.shipment-top .btn-upload:active{
    background: url("/images/btn-upload-active.png") no-repeat;
    _background: url("/images/_btn-upload-active.png") no-repeat;
}
.shipment-top .btn-upload:hover{
    color: #fff;
    background: url("/images/btn-upload-hover.png") no-repeat;
    _background: url("/images/_btn-upload-hover.png") no-repeat;
}
.shipment-top .btn-search{
    width: 77px;
    color: #033984;
    background: url("/images/btn-search.png") no-repeat;
}
.shipment-top .btn-search:active{
    background: url("/images/btn-search-active.png") no-repeat;
}
.shipment-top .btn-search:hover{
    background: url("/images/btn-search-hover.png") no-repeat;
}

/* 上传按钮 */
.upload-box{
    position: relative;
    float: left;
    margin-left: 21px;
    overflow: hidden;
}
.upload-box .file-upload{
    position: absolute;
    left: 0;
    top: 0;
    width: 114px;
    height: 44px;
    font-size: 30px;
    overflow: hidden;
    opacity: 0;
    filter:alpha(opacity=0);
    margin-left: -5px;
    cursor: pointer;
}
.shipment-top .search-box{
    display: inline;
    float: left;
    margin-left: 21px;
    /*width: 304px;*/
    height: 44px;
    background: url("/images/search-text.png") no-repeat;
}
.shipment-top .search-box .text-search{
    display: block;
    float: left;
    width: 280px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    border: 0;
    padding: 0 12px;
    background: transparent;
}
/* 物流列表 */
.lists-titl{
    font-size: 16px;
    color: #969697;
    padding-left: 42px;
}
.lists-cont{
    margin-top: 14px;
    width: 100%;
}
.lists-table-cont{
    width: 100%;
    height: 553px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}
.lists-cont table{
    width: 100%;
    border-radius: 4px;
}
.lists-cont table th{
    height: 50px;
    text-align: left;
    font-size: 16px;
    color: #323232;
    border-bottom: 1px solid #6792c7;
    background-color: #f7f8f8;
}
.lists-cont table td{
    height: 50px;
    text-align: left;
    font-size: 14px;
    color: #191919;
    *border-bottom: 1px solid #d6d6d6;
    *height: 49px;
}
.lists-cont table td a{
    text-decoration: none;
    color: #191919;
}
.lists-cont table tr{
    background-color: #fff;
}
.lists-cont table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.lt-ie9 .lists-cont table td,.lt-ie8 .lists-cont table td,.lt-ie7 .lists-cont table td{
    height: 50px;
    text-align: left;
    font-size: 14px;
    color: #191919;
    border-bottom: 1px solid #d6d6d6;
    height: 49px;
}
.lists-cont th .l-line {
    display: block;
    height: 24px;
    line-height: 24px;
    border-left: 1px solid #6f93c7;
}
.lists-cont table .btn-delete{
    display: block;
    width: 12px;
    height: 15px;
    overflow: hidden;
    margin-left: 10px;
    background: url("/images/icon-del.png") no-repeat;
}
.lists-cont table .btn-edit{
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-left: 20px;
    background: url("/images/icon-edit.png") no-repeat;
    _background: url("/images/_icon-edit.png") no-repeat;
}
.lists-cont table .pl42{
    padding-left: 42px;
}
.lists-cont table .pl20{
    padding-left: 20px;
}
.lists-cont table .pl10{
    padding-left: 10px;
}
.lists-cont table .c7f7e7e{
    color: #7f7e7e;
}
.lists-cont table tr.status1 td,.lists-cont table tr.status1 td a{
    color: #ff8900;
}
.lists-cont table tr.status2 td,.lists-cont table tr.status2 td a{
    color: #ff0d0d;
}
.lists-cont table tr.status0 .s-i{
    /*display: block;*/
    background: url("/images/icon-guoqi0.png") no-repeat 20px center;
    _background: url("/images/_icon-guoqi0.png") no-repeat 20px center;
    padding-left: 50px;
}
.lists-cont table tr.status1 .s-i{
    /*display: block;*/
    background: url("/images/icon-guoqi1.png") no-repeat 20px center;
    _background: url("/images/_icon-guoqi1.png") no-repeat 20px center;
    padding-left: 50px;
}
.lists-cont table tr.status2 .s-i{
     /*display: block;*/
    background: url("/images/icon-guoqi2.png") no-repeat 20px center;
    _background: url("/images/_icon-guoqi2.png") no-repeat 20px center;
    padding-left: 50px;
}

/* 分页 */
.lists-pages{
    float: right;
    height: 22px;
    padding: 12px 0;
}
.lists-pages .pages,.lists-pages .count{
    float: right;
}
.lists-pages .count{
    height: 22px;
    line-height: 22px;
    color: #797979;
    margin-left: 30px;
    display: inline;
}
.lists-pages li {
    float: left;
    _width: 22px;
    height: 22px;
    line-height: 22px;
    color: #555;
    margin-right: 10px;
    display: inline;
}
.lists-pages li a{
    color: #797979;
    font-style: normal;
    font-size: 14px;
    height: 22px;
    display: block;
    text-align: center;
    border-radius: 1px;
}
.lists-pages li a img{
    vertical-align: middle;
}
.lists-pages li a.on{
    background: #347ac2;
    color: #fff;
    padding: 0 7px;
}
.lists-pages li a.prev{
    padding: 0 7px;
    text-indent: -999em;
    overflow: hidden;
    background: url("/images/page-prev.png") no-repeat center center;
    _background: url("/images/_page-prev.png") no-repeat center center;
}
.lists-pages li a.next{
    padding: 0 7px;
    text-indent: -999em;
    overflow: hidden;
    background: url("/images/page-next.png") no-repeat center center;
    _background: url("/images/_page-next.png") no-repeat center center;
}
.lists-pages li.pt {
    min-width: 20px;
    width: 20px;
}
.lists-pages li.pt a {
    width: 20px;
    background: none;
}

/* 提单详情 */
.shipment-detail{
    width: 1010px;
    margin: 0 auto;
}
.shipment-detail-top{
    padding-left: 18px;
    padding-top: 40px;
    padding-bottom: 16px;
}
.shipment-detail-top .s-n{
    float: left;
    font-size: 16px;
    color: #848484;
    line-height: 18px;
    height: 18px;
    margin-right: 60px;
    padding-left: 8px;
    display: inline;
    border-left: 4px solid #53a0f1;
}
.shipment-detail-list{
    width: 1030px;
    border-radius: 4px;
    position: relative;
    /*box-shadow: 0 0 5px #ccc;*/
}
.shipment-detail-thead{
    position: absolute;
    top: 0;
    left: 0;
    width: 1010px;
    z-index: 99;
}
.shipment-detail-tbody{
    position: absolute;
    top: 51px;
    left: 0;
    width: 1010px;
    height: 590px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 98;
}
.shipment-detail-list .h500{
    height: 500px;
}
.shipment-detail-list table{
    width: 1010px;
}
.shipment-detail-list .table-tbody{
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}
.shipment-detail-list table th{
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 16px;
    color: #323232;
    border-bottom: 1px solid #6792c7;
    background-color: #f7f8f8;
}
.shipment-detail-list table td{
    height: 50px;
    text-align: left;
    font-size: 14px;
    color: #191919;
}
.shipment-detail-list table td a{
    color: #191919;
}
.shipment-detail-list table tr{
    background-color: #fff;
}
.shipment-detail-list table tr:nth-child(even) {
    background-color: #f7f7f7;
}
.lt-ie9 .shipment-detail-list table td,.lt-ie8 .shipment-detail-list table td,.lt-ie7 .shipment-detail-list table td{
    height: 50px;
    text-align: left;
    font-size: 14px;
    color: #191919;
    border-bottom: 1px solid #d6d6d6;
    height: 49px;
}
.shipment-detail-list th .l-line {
    display: block;
    height: 24px;
    line-height: 24px;
    border-left: 1px solid #6f93c7;
}
.shipment-detail-list table .pl32{
    padding-left: 32px;
}
.shipment-detail-list table .pl10{
    padding-left: 10px;
}
.shipment-detail-list table .partName{
    display: block;
    width:  160px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* 证书导航 */
.nav{
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #e5e5e5;
}
.nav a{
    display: block;
    float: left;
    width: 130px;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    color: #282828;
    text-align: center;
    text-decoration: none;
}
.nav .active{
    background-color: #fff;
}
/* 零件列表 */
.cert-main{
    height: 777px;
    background: #fff;
}
.cert-top,.cert-list{
    width: 1010px;
    margin: 0 auto;
    padding-top: 24px;
}
.cert-top .search-box{
    display: inline;
    float: left;
    /*width: 304px;*/
    height: 44px;
    background: url("/images/search-text.png") no-repeat;
}
.cert-top .search-box .text-search{
    display: block;
    float: left;
    width: 280px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    border: 0;
    padding: 0 12px;
    background: transparent;
}
.cert-list table .partName{
    display: block;
    width:  160px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* 预约列表 */
.reservation-list{
    position: relative;
    padding-top: 43px;
}
.reservation-list .search-box{
    position: absolute;
    top: 23px;
    right: 0;
    display: inline;
    float: left;
    margin-left: 21px;
    /*width: 304px;*/
    height: 44px;
    background: url("/images/search-text.png") no-repeat;
}
.reservation-list .search-box .text-search{
    display: block;
    float: left;
    width: 280px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    border: 0;
    padding: 0 12px;
    background: transparent;
}
.reservation-list .search-box .btn-search{
    display: inline;
    float: left;
    width: 77px;
    height: 44px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
    overflow: hidden;
    color: #033984;
    background: url("/images/btn-search.png") no-repeat;
}
.reservation-list .search-box .btn-search:active{
    background: url("/images/btn-search-active.png") no-repeat;
}
.reservation-list .search-box .btn-search:hover{
    background: url("/images/btn-search-hover.png") no-repeat;
}



/* 按钮 */
.cert-top .btn-download,.cert-top .btn-upload,.cert-top .btn-search{
    display: inline;
    float: left;
    width: 114px;
    height: 44px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
    overflow: hidden;
}
.cert-top .btn-search{
    width: 77px;
    color: #fff;
    background: url("/images/btn-search2.png") no-repeat;
}
.cert-top .btn-search:active{
    background: url("/images/btn-search2-active.png") no-repeat;
}
.cert-top .btn-search:hover{
    background: url("/images/btn-search2-hover.png") no-repeat;
}
.cert-top .btn-download{
    width: 165px;
    height: 40px;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    color: #033984;
    background: -webkit-linear-gradient(#fff, #ebebeb);
    background: -o-linear-gradient(#fff, #ebebeb);
    background: -moz-linear-gradient(#fff, #ebebeb);
    background: linear-gradient(#fff, #ebebeb);
}
.cert-top .btn-download:hover{
    background: #fff;
}
.cert-top .btn-upload{
    width: 129px;
    height: 40px;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    color: #033984;
    background: -webkit-linear-gradient(#fff, #ebebeb);
    background: -o-linear-gradient(#fff, #ebebeb);
    background: -moz-linear-gradient(#fff, #ebebeb);
    background: linear-gradient(#fff, #ebebeb);
}
.cert-top .btn-upload:hover{
    background: #fff;
}
.cert-top .btn-upload,.cert-top .btn-download{
    float: right;
    margin-left: 24px;
    display: inline;
}
.cert-inc{
    width: 980px;
    margin: 0 auto;
}
.cert-inc .cert-inc-title{
    padding: 40px 0 12px 0;
    font-size: 20px;
    color: #292929;
    border-bottom: 1px solid #e6e6e6;
}
.cert-inc .cert-inc-cont{
    margin-top: 32px;
}
.overflow-y-auto{
    padding-bottom: 18px;
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}
.cert-inc .cert-inc-cont td{
    height: 66px;
}
.cert-inc .cert-inc-cont .tit{
    width: 105px;
    font-size: 16px;
    color: #191919;
    text-align: right;
}
.cert-inc .cert-inc-cont .con{
    padding-left: 15px;
    text-align: left;
}
.cert-inc .cert-inc-cont .con .part-text,.cert-inc .cert-inc-cont .con .partNo-text,.cert-inc .cert-inc-cont .con .name-text{
    width: 300px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 16px;
    color: #191919;
    padding-left: 18px;
    background: #f4f4f4;
    border-radius: 3px;
}
.cert-inc .cert-inc-cont .con .f-l{
    float: left;
}
.cert-inc .cert-inc-cont .btn-file-box{
    position: relative;
    margin-left: 17px;
    overflow: hidden;
}
.cert-inc .cert-inc-cont .btn-file-box .file-upload{
    position: absolute;
    left: 0;
    top: 0;
    width: 114px;
    height: 44px;
    font-size: 30px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    _filter: alpha(opacity=0);
}
.cert-inc .cert-inc-cont .btn-file-box .btn-upload{
    display: inline;
    float: left;
    width: 108px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    color: #fff;
    background: #fda454;
    border-radius: 3px;
}
.cert-inc .cert-inc-cont .con .msg{
    display: none;
    color: #fda454;
}
.cert-inc .cert-inc-cont .con .tips{
    color: #fda454;
}

.cert-inc .cert-inc-cont .btn-del{
    width: 80px;
    height: 36px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    display: block;
    margin-left: 14px;
    text-decoration: none;
}
.cert-inc .cert-inc-cont .btn-add{
    display: block;
    width: 66px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #438bda;
    color: #438bda;
    padding-left: 40px;
    margin-left: 30px;
    border-radius: 3px;
    background: url("/images/icon-add.png") no-repeat 14px center;
    text-decoration: none;
    _background: url("/images/_icon-add.png") no-repeat 14px center;
}
.cert-inc .btn-cont{
    text-align: center;
}
.cert-inc .btn-confirm,.cert-inc .btn-cancel{
    display: inline-block;
    width: 160px;
    height: 39px;
    border-radius: 3px;
    margin: 0 10px;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 39px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}
.cert-inc .btn-cancel{
    background: #AFAFAF;
}

/* 全部3C证书 */
.cert-3c{
    width: 950px;
    margin: 0 auto;
}

.cert-3c-top{
    padding-left: 18px;
    padding-top: 40px;
    padding-bottom: 16px;
}
.cert-3c-top .s-n{
    float: left;
    font-size: 18px;
    color: #848484;
    line-height: 18px;
    height: 18px;
    margin-right: 60px;
    padding-left: 8px;
    display: inline;
    border-left: 4px solid #53a0f1;
}
.cert-3c-list{
    border: 1px solid #d8dad9;
    border-radius: 3px;
    margin-top: 15px;
}
.cert-3c-list table{
    width: 100%;
}
.cert-3c-list th{
    height: 50px;
    padding-left: 24px;
    background: #f7f9f8;
    border-bottom: 1px solid #7491c9;
    font-size: 18px;
    text-align: left;
    color: #191919;
}
.cert-3c-list .list{
    width: 813px;
    margin: 0 auto;
    padding: 26px 0 26px 63px;
    border-bottom: 1px solid #d6d6d6;
    background: url("/images/icon-pdf.png") no-repeat 0 center;
    _background: url("/images/_icon-pdf.png") no-repeat 0 center;
    margin-bottom: -1px;
    position: relative;
}
.cert-3c-list .certNo,.cert-3c-list .upTime,.cert-3c-list .downld,.cert-3c-list .delete{
    float: left;
    height: 48px;
    font-size: 14px;
    color: #191919;
}
.cert-3c-list .certNo{
    width: 377px;
    line-height: 24px;
}
.cert-3c-list .upTime{
    width: 226px;
    line-height: 48px;
}
.cert-3c-list .downld a,.cert-3c-list .delete a{
    display: block;
    width: 78px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #438ada;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #438ada;
    margin-top: 3px;
    margin-left: 25px;
}

.cert-3c-list .delete a{
    background-color: #fff;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
}

/* 账号管理 */
.manager-top,.manager-list{
    width: 1010px;
    margin: 0 auto;
    padding-top: 23px;
}
/* 按钮 */
.manager-top .btn-createUser,.manager-top .btn-search{
    display: inline;
    float: left;
    width: 114px;
    height: 44px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
}
.manager-top .btn-createUser{
    margin-right: 21px;
    color: #fff;
    background: url("/images/btn-upload.png") no-repeat;
    _background: url("/images/_btn-upload.png") no-repeat;
}
.manager-top .btn-createUser:active{
    background: url("/images/btn-upload-active.png") no-repeat;
    _background: url("/images/_btn-upload-active.png") no-repeat;
}
.manager-top .btn-createUser:hover{
    color: #fff;
    background: url("/images/btn-upload-hover.png") no-repeat;
    _background: url("/images/_btn-upload-hover.png") no-repeat;
}
.manager-top .btn-search{
    width: 77px;
    color: #033984;
    background: url("/images/btn-search.png") no-repeat;
}
.manager-top .btn-search:active{
    background: url("/images/btn-search-active.png") no-repeat;
}
.manager-top .btn-search:hover{
    background: url("/images/btn-search-hover.png") no-repeat;
}
.manager-top .search-box{
    display: inline;
    float: left;
    /*margin-left: 21px;*/
    /*width: 304px;*/
    height: 44px;
    background: url("/images/search-text.png") no-repeat;
}
.manager-top .search-box .text-search{
    display: block;
    float: left;
    width: 280px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    border: 0;
    padding: 0 12px;
    background: transparent;
}
.manager-list table .btn-res,.manager-list table .btn-off{
    color: #033984;
}
.manager-list table .off td,.manager-list table .off a,.manager-list table .off .btn-res{
    color: #a5a5a5;
}
.manager-list table .off .btn-off{
    color: #f21c00;
}
.manager-list table .btn-disabled{
    color: #a5a5a5;
}

/* 个人信息 */
.PersonalBox .left-nav{
    height: 984px;
}
.PersonalBox .personal-main{
    height: 946px;
    padding-bottom: 40px;
    background: #fff;
}
.personal{
    width: 980px;
    margin: 0 auto;
}
.personal .personal-title{
    padding: 40px 0 12px 0;
    font-size: 20px;
    color: #292929;
    border-bottom: 1px solid #e6e6e6;
}
.personal-cont{
    margin-top: 6px;
}
.personal-cont-tit{
    padding: 20px 0 3px 40px;
    font-size: 20px;
    color: #a0a0a0;
}
.personal-cont td{
    height: 54px;
}
.personal-cont table{
    margin-left: 24px;
}
.personal-cont .tit{
    width: 105px;
    font-size: 16px;
    color: #191919;
    text-align: right;
}
.personal-cont .lowast{
    visibility: hidden;
    color: #F38D33;
}
.personal-cont .con{
    padding-left: 15px;
    text-align: left;
}
.personal-cont .con .user-text,.personal-cont .con .pwd-text{
    width: 300px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 16px;
    color: #191919;
    background: none;
}
.personal-cont .con .msg{
    display: inline-block;
    color: #fda454;
}
.personal-cont a.btns{
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #438ada;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-top: 24px;
}
.personal-cont .btn-alter,.personal-cont .btn-submit{
    margin-left: 56px;
}
.personal-cont td a.btn-cancel{
    background-color: #c8c8c8;
    margin-left: 35px;
}
.personal-cont .new-pwd{
    display: none;
}


.user-text-change td{
    height: 54px;
}
.user-text-change table{
    margin-left: 24px;
}
.user-text-change .tit{
    width: 105px;
    font-size: 16px;
    color: #191919;
    text-align: right;
}
.user-text-change .lowast{
    color: #F38D33;
}
.user-text-change .con{
    padding-left: 15px;
    text-align: left;
}
.user-text-change .con .user-text,.user-text-change .con .pwd-text{
    width: 300px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 16px;
    color: #191919;
    padding-left: 18px;
    background: #f4f4f4;
    border-radius: 3px;
}
.user-text-change .con .msg{
    display: inline-block;
    color: #fda454;
}
.user-text-change a.btns{
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #438ada;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.user-text-change .btn-alter,.user-text-change .btn-submit{
    margin-left: 56px;
}
.user-text-change td a.btn-cancel{
    background-color: #c8c8c8;
    margin-left: 35px;
}

/* ----------- 局端 ---------- */
.lists-cont table tr.reservation td,.lists-cont table tr.reservation td a{
    color: #0752bc;
}
.lists-cont table tr td .contact-span{
    display: block;
    width:  200px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}


.bureau-reservation-detail .shipment-detail-list{
    height: 500px;
    max-height: 500px;
    _height: 500px;
}
.bureau-reservation-detail .shipment-detail-list .h450{
    height: 450px;
}
.shipment-detail-list table tr.status0 .s-i{
    /*display: block;*/
    background: url("/images/icon-guoqi0.png") no-repeat 10px center;
    _background: url("/images/_icon-guoqi0.png") no-repeat 10px center;
    background-color: none;
    padding-left: 40px;
}
.shipment-detail-list table tr.status1 .s-i{
    /*display: block;*/
    background: url("/images/icon-guoqi1.png") no-repeat 10px center;
    _background: url("/images/_icon-guoqi1.png") no-repeat 10px center;
    background-color: none;
    padding-left: 40px;
}
.shipment-detail-list table tr.status2 .s-i{
     /*display: block;*/
    background: url("/images/icon-guoqi2.png") no-repeat 10px center;
    _background: url("/images/_icon-guoqi2.png") no-repeat 10px center;
    background-color: none;
    padding-left: 40px;
}
.shipment-detail-list .checkbox-list,.shipment-detail-list tr input{
    display: none;
}
.bureau-reservation-detail .check-time{
    display: block;
    width: 355px;
    height: 39px;
    border-radius: 3px;
    margin: 30px auto 0;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 39px;
    border: 0;
}
.manager-main{
    height: 777px;
    background: #fff;
}
.shipment-state{
    position: relative;
    top: 26px;
}
.shipment-state h3{
    height: 44px;
    line-height: 44px;
    font-size: 22px;
    color: #1f4883;
    font-weight: 400;
    float: left;
}
.shipment-state .btn-add,.shipment-state .btn-cancel{
    display: block;
    float: right;
    width: 114px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: url("/images/btn-upload.png") no-repeat;
    _background: url("/images/_btn-upload.png") no-repeat;
    text-decoration: none;
}
.shipment-state .btn-cancel{
    background: url("/images/btn-cancel.png") no-repeat;
    _background: url("/images/_btn-cancel.png") no-repeat;
}
.shipment-detail-list table tr.bge1{
    background: #E1E1E1;
}
.shipment-detail-list table tr.nopass{
    display: none;
}

/* --------- 弹出窗 --------- */
.popup{
    display: none;
    z-index: 999;
}
/* 删除确认 */
.delete-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 188px;
    margin-left: -204px;
    margin-top: -94px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
}
.delete-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.delete-popup .msg{
    text-align: center;
    font-size: 16px;
    color: #191919;
    margin: 30px 0;
}
.delete-popup .btn-control{
    width: 100%;
    text-align: center;
}
.delete-popup .btn1,.delete-popup .btn2{
    display: inline-block;
    width: 112px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #438BDA;
    border: 1px solid #438BDA;
    border-radius: 3px;
    margin: 0 4px;
}
.delete-popup .btn2{
    color: #8c8c8c;
    background-color: #fff;
    border: 1px solid #8c8c8c;
}

/* 上传提示窗 */
.upload-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 188px;
    margin-left: -204px;
    margin-top: -94px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    display: none;
    z-index: 999;
}
.upload-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.upload-popup .upload-state{
    width: 310px;
    margin: 0 auto;
}
.upload-popup .upload-suc,.upload-popup .upload-err{
    padding: 36px 0;
}
.upload-popup .upload-suc .cont1,.upload-popup .upload-suc .cont2{
    font-size: 16px;
    color: #191919;
}
.upload-popup .upload-suc .cont1{
    float: left;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.upload-popup .upload-suc .cont2{
    float: right;
    padding-right: 22px;
    background: url("/images/icon-right.png") no-repeat right center;
    _background: url("/images/_icon-right.png") no-repeat right center;
}
.upload-popup .btn-suc{
    display: block;
    width: 112px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    background: #438bda;
    margin: 0 auto;
}
.upload-popup .upload-err .cont{
    font-size: 16px;
    color: #191919;
    text-align: center;
}

/* 更新零件信息 */
.btn-close{
    position: absolute;
    right: 28px;
    top: 14px;
    width: 14px;
    height: 14px;
    text-indent: -999em;
    overflow: hidden;
    background: url("/images/icon-close.png") no-repeat;
    _background: url("/images/_icon-close.png") no-repeat;
}
.update-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 540px;
    height: 490px;
    margin-left: -270px;
    margin-top: -245px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
}
.popup .btn-close{
    position: absolute;
    right: 28px;
    top: 14px;
    width: 14px;
    height: 14px;
    text-indent: -999em;
    overflow: hidden;
    background: url("/images/icon-close.png") no-repeat;
    _background: url("/images/_icon-close.png") no-repeat;
}
.update-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.update-cont{
    padding-top: 25px;
}
.update-cont table{
    width: 100%;
}
.update-cont td{
    height: 66px;
}
.update-cont .tit{
    width: 20%;
    font-size: 14px;
    color: #191919;
    text-align: right;
}
.update-cont .con{
    width: 80%;
    text-align: left;
    position: relative;
}
.update-cont .con .part-text,.update-cont .con .partNo-text,.update-cont .con .name-text{
    width: 360px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 14px;
    color: #191919;
    padding-left: 18px;
    background: #f4f4f4;
    border-radius: 3px;
}
.update-cont .con .msg{
    display: none;
    color: #FF851D;
    position: absolute;
    bottom: -5px;
    left: 0;
    padding-left: 20px;
}
.update-cont .con .w160{
    width: 160px;
}
.update-cont .con .w235{
    width: 235px;
}
.update-cont .con .f-l{
    float: left;
}
.update-cont .btn-file-box{
    position: relative;
    margin-left: 17px;
    overflow: hidden;
}
.update-cont .btn-file-box .file-upload{
    position: absolute;
    left: 0;
    top: 0;
    width: 114px;
    height: 44px;
    font-size: 30px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    _filter: alpha(opacity=0);
}
.update-cont .btn-file-box .btn-upload{
    display: inline;
    float: left;
    width: 108px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    color: #fff;
    background: #fda454;
    border-radius: 3px;
}

.update-cont .btn-confirm{
    display: block;
    width: 355px;
    height: 39px;
    border-radius: 3px;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 39px;
    border: 0;
}

/* 新增账号 */
.createUser-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 540px;
    height: 535px;
    margin-left: -270px;
    margin-top: -267px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
}
.createUser-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.createUser-cont{
    padding-top: 15px;
}
.createUser-cont table{
    width: 100%;
}
.createUser-cont td{
    height: 66px;
}
.createUser-cont .tit{
    width: 20%;
    font-size: 14px;
    color: #191919;
    text-align: right;
}
.createUser-cont .con{
    width: 80%;
    text-align: left;
    position: relative;
}
.createUser-cont .con .user-text{
    width: 342px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 14px;
    color: #191919;
    padding: 0 18px;
    background: #f4f4f4;
    border-radius: 3px;
    display: block;
}
.createUser-cont .btn-confirm{
    display: block;
    width: 355px;
    height: 39px;
    border-radius: 3px;
    margin: 20px auto 0;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 39px;
    border: 0;
}
.createUser-cont .con .msg{
    /*display: none;*/
    position: absolute;
    padding-left: 18px;
    color: #fda454;
    left: auto;
    bottom: auto;
}
.createUser-cont .con .options{
    position: absolute;
    top: 50%;
    left: 0;
    width: 378px;
    height: 36px;
    margin-top: -18px;
    border: 0;
    display: block;
    cursor: pointer;
    background: url("/images/icon-down.png") transparent no-repeat 352px center;
}
.createUser-cont .contact{
    display: none;
    position: relative;
}
.createUser-cont .contact-pop{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -150px;
    margin-left: 230px;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}
.createUser-cont .contact-pop .btn-confirm2{
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    margin: 10px auto;
    border-radius: 3px;
    text-decoration: none;
}
.createUser-cont .contact-pop ul{
    width: 140px;
    height: 300px;
    overflow-y: auto;
}
.createUser-cont .contact-pop li{
    color: #191919;
    font-size: 14px;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
}
.createUser-cont .contact-pop li input{
    float: left;
    margin-left: 20px;
}
.createUser-cont .contact-pop li span{
    float: left;
    margin-left: 15px;
}
.checkout-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 470px;
    height: 240px;
    margin-left: -235px;
    margin-top: -120px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
}
.checkout-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.checkout-cont{
    padding-top: 25px;
}
.checkout-cont table{
    width: 100%;
}
.checkout-cont td{
    height: 66px;
}
.checkout-cont .tit{
    width: 20%;
    font-size: 14px;
    color: #191919;
    text-align: right;
}
.checkout-cont .con{
    width: 80%;
    text-align: left;
}
.checkout-cont .con .time-text{
    width: 320px;
    height: 36px;
    line-height: 36px;
    border: 0;
    font-size: 14px;
    color: #191919;
    padding-left: 18px;
    background: #f4f4f4;
    border-radius: 3px;
}
.checkout-cont .btn-confirm{
    display: block;
    width: 355px;
    height: 39px;
    border-radius: 3px;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 39px;
    border: 0;
}

.yuyuesuc-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: 200px;
    margin-left: -205px;
    margin-top: -100px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
}

.yuyuesuc-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.yuyuesuc-popup .yuyuesuc-msg{
    padding-top: 26px;
}
.yuyuesuc-popup .msg1{
    font-size: 18px;
    color: #ff6613;
    text-align: center;
    line-height: 26px;
}
.yuyuesuc-popup .msg2{
    font-size: 16px;
    color: #8c8c8c;
    text-align: center;
    line-height: 26px;
}
.yuyuesuc-popup .btn-suc{
    display: block;
    width: 174px;
    height: 36px;
    border-radius: 3px;
    margin: 20px auto 0;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 36px;
    border: 0;
    text-decoration: none;
}
.mailContent-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    margin-left: -250px;
    margin-top: -200px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
}
.mailContent-popup h3{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 16px;
    background: #438bda;
}
.mailContent-popup .mailContent-msg{
    padding-top: 26px;
}
.mailContent-popup .msg1{
    font-size: 18px;
    color: #ff6613;
    text-align: center;
    line-height: 26px;
}
.mailContent-popup .msg2{
    font-size: 16px;
    color: #8c8c8c;
    text-align: center;
    line-height: 26px;
}
.mailContent-popup .btn-suc{
    display: block;
    width: 174px;
    height: 36px;
    border-radius: 3px;
    margin: 20px auto 0;
    color: #fff;
    font-size: 16px;
    background: #438ada;
    text-align: center;
    line-height: 36px;
    border: 0;
    text-decoration: none;
}